/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 60px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #d1d2d3;
    font-size: 18px;
    display: block;
    transition: 0.5s;
}

.sidebar ul li a:hover {
    color: white;
    background-color: #0082E5;
}

/* Navbar Styles */
.navbar {
    background-color: #343a40;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar .navbar-toggler-icon {
    background-color: #fff;
}

.navbar .navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar .navbar-nav .nav-link:hover {
    color: #d1d2d3;
}

.navbar .form-control {
    width: 300px;
}

/* Content Styles */
.content {
    margin-top: 50px;
    padding: 20px;
}

/* Footer Styles */
footer {
    color: #fff;
    text-align: center;
}

/* Animation Styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
